* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
/* header */

header{
    width: auto;
    height: 100px;
    background-color: #FFA63E;
    display: inline-flex;
}
.logo{
    width: 100px;
    height: 95px;
    margin-left: 33px;
    display: inline-block;
}
              /* nav & ul & li & img 都是block */
nav{
    display: flex;
    width: 1306px;
    height: 100px;
    padding: 50px 95px 29px 573px;
    justify-content: space-between;
}
.nav-item{
    text-decoration: none;
    color: black;
    letter-spacing: 0.2em;
}
#link1:hover{
    color: white;
}


/* container */

.container{
    background-color: #FBF2D3;
    padding:82px 120px 0 120px;
    display: block;
    width: 1440px;
}


/* title */

.container_top{
    margin-bottom: 31px;
}

h1{

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.2em;
    
    color: #E60012;
}
h5{
    padding-top:calc(50% - 192px/2 - 448px);
    padding-left: calc(50% - 1185px/2 + 0.5px);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.2em;
    
    color: #000000;

}
/* basic */

.container-basic{
    margin-bottom: 89px;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px auto;

    
}
.container-button-img{
    justify-content: center;
    align-items: center;
    display: block;
}
.order-button{
    background:#E60012;
    color: white;
    border-radius: .5vmin;
    border-width: 0;
    width: 30vmin;
    height: 5vmin;
    /* 223*47 */
    letter-spacing: 0.2em;
    
}
.order-button:hover{
    opacity:80%;
}
/* footer */
footer{
    background-color: #FBF2D3;
    display: block;
    text-align: center;
    padding-bottom: 40px;
}
p{
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    padding-bottom: 21px;
}
